
.grid {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  gap: 1px;
}

.block {
  width: 10px;
  height: 10px;
  background-color: gray;
  border: 1px solid black;
}



.grid {
  display: flex;
  grid-template-columns: repeat(12, 10px); /* Adjust the number of columns as needed */
  grid-template-rows: repeat(12, 10px); /* Adjust the number of rows as needed */
  gap: 1px; /* Adjust the gap between blocks as needed */
}

.block {
  background-color: gray;
  border: 1px solid black;
}

.GameStartButton{
  width: 80px;
  height: 30px;
  display: flex;
  align-self: flex-end;
  margin-right: 40px;
  align-items: center;
  justify-content: center;
}

.computationSpeedSlider{
  direction: rtl;
}